<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        {{ hideWord }}
    </div>


    <form action="" method="post">
        <p>Votre lettre : <input required minlength="1" maxlength="1" type="text" name="lettre" pattern="[A-Z]"/></p>
        <p><input type="submit" value="Proposer"></p>
    </form>

    <div>

        il vous reste {{ score }} essai(s)!
        {% if score == 0 %}
            <p>Vous avez Perdu !</p>
        {% endif %}
    </div>

</body>

</html>